/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : 29-set-2017, 18.00.05
    Author     : Federico
*/

body{
    background-color: #ffffff;
    margin: 0;
    font-family: ProximaNova,Arial,Sans-serif;
}

#map {
    width:100%;
    height:100%;
    position: absolute;
    top: 0px;
    left: 0px;
}
