/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : 29-set-2017, 18.00.05
    Author     : Federico
*/

body{
    background-color: #ffffff;
    margin: 0;
    font-family: ProximaNova,Arial,Sans-serif;
}

#map {
    height: 100%;
    border-color: black;
    border-style: solid double;
    -webkit-box-shadow: 0 10px 10px -6px #0a0809;
       -moz-box-shadow: 0 10px 10px -6px #0a0809;
            box-shadow: 0 10px 10px -6px #0a0809;

}

.container{
    display: grid;
    grid-template-rows:50px 700px 200px;
    grid-template-columns: 100%;
    position:relative;
    grid-template-areas:
        "header"
        "mappa"
        "fermate";
}

.containerHeader{
    display: grid;
    grid-area: header;
    grid-template-columns:20vw 60vw 10vw 10vw;
    position: fixed;
    grid-template-areas:
        "menug header-title search notifiche";
    background-color: #434343;
    vertical-align: middle;
    /*margin-bottom: 15px;*/
    font-family: Arial, Helvetica, sans-serif;
    z-index: 99999999;
}

.searchbar {
    grid-area:search;
    /*background-color: grey;*/
    border: none;
    color: black;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    display: inline-block;
    margin: 10px;
    font-size: 17px;
}
.searchbar button {
  padding: 12px;
  width: 95%;
  cursor: pointer;
}



/*menu per il profilo*/
#menuImpostazioni{
  display: none;
}
.menu a{
    grid-area:menug;
    overflow: hidden;
    color: white;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 31px;
    text-decoration: none;
    font-size: 17px;
    cursor: pointer;
}
.menu a:hover {
  background-color: #ddd;
  color: black;
}
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 99999999;
    color: white;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    /*padding-top: 60px;*/
}

.sidenav a {
    overflow: hidden;
    color: white;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 30px;
    text-decoration: none;
    font-size: 25px;
}

.sidenav a:hover {
    background-color: #ddd;
    color: black;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

/*menu per il profilo*/

/*bottone notifiche*/
/*r sta per right */
#menuNotifiche{
  display: none;
}
.notify a{
    grid-area:notifiche;
    overflow: hidden;
    color: white;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 30px;
    text-decoration: none;
    font-size: 15px;
}
.notify a:hover {
  background-color: #ddd;
  color: black;
}
.sidenavr {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 99999999;
    color: white;
    top: 0;
    right: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    /*padding-top: 60px;*/
}

.sidenavr a {
    overflow: hidden;
    color: white;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 30px;
    text-decoration: none;
    font-size: 25px;
}

.sidenavr a:hover {
    background-color: #ddd;
    color: black;
}

.sidenavr .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

/*bottone notifiche*/

.titolo{
    display: table-cell;
    grid-area:header-title;
    font-size: 70px;
    color:white;
    text-align: center;
    vertical-align: middle;
}

.mapp{
    grid-area:mappa;
    margin-top: 50px;
    height: 100%;
    margin-left: 25px;
    margin-right: 25px;

}

/*tabella ritardi fermate*/
.stops{
    grid-area:fermate;
    margin: auto;
    margin-top: 70px;
    margin-bottom: 200px;
}

.selezione-fermate{
  display: table;
  width: auto;
}

.fermataHead, .rigaRitardo{
  display: table-row;
  width: auto;
  clear: both;
}

.fermataHead{
  cursor: pointer;
  overflow: hidden;
  background-color: #a9a9a9;
  color: white;
  display: block;
  text-indent: 5px;
  width: 100%;
  height: 25px;
  text-decoration: none;
  margin-bottom: 7px;
  margin-top: 7px;
  font-size: 17px;
}

.rigaRitardo > div {
  float: left;
  display: table-cell;
  width: auto;
}

.rigaRitardo button {
  background-color: red;
  color: white;
  padding: 2px;
  text-align: center;
}
/*tabella ritardi fermate*/

/*footer*/
.navbar {
  overflow: hidden;
  background-color: #333;
  position: fixed;
  width: 100%;
  bottom: 0;
  color: white;
  padding: 5px;
  vertical-align: middle;
  text-align: center;
  /*vertical-align: middle;
  padding-top: 10px;
  padding-bottom: 10px;*/
}
/*footer*/


/*________________________________________________________________________________________________*/
